pipeline/Append Variable Activity.json
{
	"name": "Append Variable Activity",
	"properties": {
		"activities": [
			{
				"name": "Append variable",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "marks",
					"value": {
						"value": "@pipeline().parameters.givemeinuttoappend",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('marks')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"givemeinuttoappend": {
				"type": "int"
			}
		},
		"variables": {
			"marks": {
				"type": "Array",
				"defaultValue": [
					23,
					45,
					67,
					89
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Control Flow Activities"
		},
		"annotations": []
	}
}