df-datafactory-mrk/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-datafactory-mrk"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks'"
		},
		"sourcedatafriends_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'sourcedatafriends'"
		},
		"targetdatafriends_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'targetdatafriends'"
		},
		"SqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServer'",
			"defaultValue": "Integrated Security=True;Data Source=localhost;Initial Catalog=AdventureWorks2017"
		},
		"SqlServer_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myazuredatalakemrkproje.dfs.core.windows.net/"
		},
		"AzureDatabricks_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0318-135321-20rhevtk"
		},
		"sourcedatafriends_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myazuredatalakemrkproje.dfs.core.windows.net/"
		},
		"targetdatafriends_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://myazuredatalakemrkproje.dfs.core.windows.net/"
		},
		"SqlServer_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "DESKTOP-D7G3HKE\\Sivaji Marripudi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Append Variable Activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append variable",
						"type": "AppendVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "marks",
							"value": "90"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"marks": {
						"type": "Array",
						"defaultValue": [
							"[[23,45,67,89]]"
						]
					},
					"output": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "Control Flow Activities"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/set variable activity- dynamic values')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Length Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "length",
							"value": {
								"value": "@pipeline().parameters.givemelength",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Breadth Variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "breadth",
							"value": {
								"value": "@pipeline().parameters.givemebreadth",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Area Variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Length Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Breadth Variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "area",
							"value": {
								"value": "@mul(variables('length'), variables('breadth'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"givemelength": {
						"type": "int"
					},
					"givemebreadth": {
						"type": "int"
					}
				},
				"variables": {
					"length": {
						"type": "Integer"
					},
					"breadth": {
						"type": "Integer"
					},
					"area": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Control Flow Activities"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/set variable activity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Length variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "length",
							"value": 10
						}
					},
					{
						"name": "Breadth variable",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "breadth",
							"value": 20
						}
					},
					{
						"name": "Area variable",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Length variable",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Breadth variable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "area",
							"value": {
								"value": "@mul(variables('length'), variables('breadth'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"length": {
						"type": "Integer"
					},
					"breadth": {
						"type": "Integer"
					},
					"area": {
						"type": "Integer"
					}
				},
				"folder": {
					"name": "Control Flow Activities"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2322077050506352.12.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourcedatafriends')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('sourcedatafriends_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('sourcedatafriends_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/targetdatafriends')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('targetdatafriends_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('targetdatafriends_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhostedruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "targetdatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/targetdatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DestinationDataset_b31')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "targetdatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/targetdatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceDataset_b31')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sourcedatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "{\"txnId\":\"189d9085-94fb-40e9-8a9c-7c3f8d4ba1eb\"",
						"type": "String"
					},
					{
						"name": "\"tableSizeBytes\":1957",
						"type": "String"
					},
					{
						"name": "\"numFiles\":1",
						"type": "String"
					},
					{
						"name": "\"numMetadata\":1",
						"type": "String"
					},
					{
						"name": "\"numProtocol\":1",
						"type": "String"
					},
					{
						"name": "\"setTransactions\":[]",
						"type": "String"
					},
					{
						"name": "\"domainMetadata\":[]",
						"type": "String"
					},
					{
						"name": "\"metadata\":{\"id\":\"b10a375a-9e14-44bc-9545-8b0d95d250c2\"",
						"type": "String"
					},
					{
						"name": "\"format\":{\"provider\":\"parquet\"",
						"type": "String"
					},
					{
						"name": "\"options\":{}}",
						"type": "String"
					},
					{
						"name": "\"schemaString\":\"{\\\"type\\\":\\\"struct\\\"",
						"type": "String"
					},
					{
						"name": "\\\"fields\\\":[{\\\"name\\\":\\\"CountryRegionCode\\\"",
						"type": "String"
					},
					{
						"name": "\\\"type\\\":\\\"string\\\"12",
						"type": "String"
					},
					{
						"name": "\\\"nullable\\\":true13",
						"type": "String"
					},
					{
						"name": "\\\"metadata\\\":{}}14",
						"type": "String"
					},
					{
						"name": "{\\\"name\\\":\\\"CurrencyCode\\\"",
						"type": "String"
					},
					{
						"name": "\\\"type\\\":\\\"string\\\"16",
						"type": "String"
					},
					{
						"name": "\\\"nullable\\\":true17",
						"type": "String"
					},
					{
						"name": "\\\"metadata\\\":{}}18",
						"type": "String"
					},
					{
						"name": "{\\\"name\\\":\\\"ModifiedDate\\\"",
						"type": "String"
					},
					{
						"name": "\\\"type\\\":\\\"string\\\"20",
						"type": "String"
					},
					{
						"name": "\\\"nullable\\\":true21",
						"type": "String"
					},
					{
						"name": "\\\"metadata\\\":{}}]}\"",
						"type": "String"
					},
					{
						"name": "\"partitionColumns\":[]",
						"type": "String"
					},
					{
						"name": "\"configuration\":{}",
						"type": "String"
					},
					{
						"name": "\"createdTime\":1710772862050}",
						"type": "String"
					},
					{
						"name": "\"protocol\":{\"minReaderVersion\":1",
						"type": "String"
					},
					{
						"name": "\"minWriterVersion\":2}",
						"type": "String"
					},
					{
						"name": "\"histogramOpt\":{\"sortedBinBoundaries\":[0",
						"type": "String"
					},
					{
						"name": "8192",
						"type": "String"
					},
					{
						"name": "16384",
						"type": "String"
					},
					{
						"name": "32768",
						"type": "String"
					},
					{
						"name": "65536",
						"type": "String"
					},
					{
						"name": "131072",
						"type": "String"
					},
					{
						"name": "262144",
						"type": "String"
					},
					{
						"name": "524288",
						"type": "String"
					},
					{
						"name": "1048576",
						"type": "String"
					},
					{
						"name": "2097152",
						"type": "String"
					},
					{
						"name": "4194304",
						"type": "String"
					},
					{
						"name": "8388608",
						"type": "String"
					},
					{
						"name": "12582912",
						"type": "String"
					},
					{
						"name": "16777216",
						"type": "String"
					},
					{
						"name": "20971520",
						"type": "String"
					},
					{
						"name": "25165824",
						"type": "String"
					},
					{
						"name": "29360128",
						"type": "String"
					},
					{
						"name": "33554432",
						"type": "String"
					},
					{
						"name": "37748736",
						"type": "String"
					},
					{
						"name": "41943040",
						"type": "String"
					},
					{
						"name": "50331648",
						"type": "String"
					},
					{
						"name": "58720256",
						"type": "String"
					},
					{
						"name": "67108864",
						"type": "String"
					},
					{
						"name": "75497472",
						"type": "String"
					},
					{
						"name": "83886080",
						"type": "String"
					},
					{
						"name": "92274688",
						"type": "String"
					},
					{
						"name": "100663296",
						"type": "String"
					},
					{
						"name": "109051904",
						"type": "String"
					},
					{
						"name": "117440512",
						"type": "String"
					},
					{
						"name": "125829120",
						"type": "String"
					},
					{
						"name": "130023424",
						"type": "String"
					},
					{
						"name": "134217728",
						"type": "String"
					},
					{
						"name": "138412032",
						"type": "String"
					},
					{
						"name": "142606336",
						"type": "String"
					},
					{
						"name": "146800640",
						"type": "String"
					},
					{
						"name": "150994944",
						"type": "String"
					},
					{
						"name": "167772160",
						"type": "String"
					},
					{
						"name": "184549376",
						"type": "String"
					},
					{
						"name": "201326592",
						"type": "String"
					},
					{
						"name": "218103808",
						"type": "String"
					},
					{
						"name": "234881024",
						"type": "String"
					},
					{
						"name": "251658240",
						"type": "String"
					},
					{
						"name": "268435456",
						"type": "String"
					},
					{
						"name": "285212672",
						"type": "String"
					},
					{
						"name": "301989888",
						"type": "String"
					},
					{
						"name": "318767104",
						"type": "String"
					},
					{
						"name": "335544320",
						"type": "String"
					},
					{
						"name": "352321536",
						"type": "String"
					},
					{
						"name": "369098752",
						"type": "String"
					},
					{
						"name": "385875968",
						"type": "String"
					},
					{
						"name": "402653184",
						"type": "String"
					},
					{
						"name": "419430400",
						"type": "String"
					},
					{
						"name": "436207616",
						"type": "String"
					},
					{
						"name": "452984832",
						"type": "String"
					},
					{
						"name": "469762048",
						"type": "String"
					},
					{
						"name": "486539264",
						"type": "String"
					},
					{
						"name": "503316480",
						"type": "String"
					},
					{
						"name": "520093696",
						"type": "String"
					},
					{
						"name": "536870912",
						"type": "String"
					},
					{
						"name": "553648128",
						"type": "String"
					},
					{
						"name": "570425344",
						"type": "String"
					},
					{
						"name": "587202560",
						"type": "String"
					},
					{
						"name": "603979776",
						"type": "String"
					},
					{
						"name": "671088640",
						"type": "String"
					},
					{
						"name": "738197504",
						"type": "String"
					},
					{
						"name": "805306368",
						"type": "String"
					},
					{
						"name": "872415232",
						"type": "String"
					},
					{
						"name": "939524096",
						"type": "String"
					},
					{
						"name": "1006632960",
						"type": "String"
					},
					{
						"name": "1073741824",
						"type": "String"
					},
					{
						"name": "1140850688",
						"type": "String"
					},
					{
						"name": "1207959552",
						"type": "String"
					},
					{
						"name": "1275068416",
						"type": "String"
					},
					{
						"name": "1342177280",
						"type": "String"
					},
					{
						"name": "1409286144",
						"type": "String"
					},
					{
						"name": "1476395008",
						"type": "String"
					},
					{
						"name": "1610612736",
						"type": "String"
					},
					{
						"name": "1744830464",
						"type": "String"
					},
					{
						"name": "1879048192",
						"type": "String"
					},
					{
						"name": "2013265920",
						"type": "String"
					},
					{
						"name": "2147483648",
						"type": "String"
					},
					{
						"name": "2415919104",
						"type": "String"
					},
					{
						"name": "2684354560",
						"type": "String"
					},
					{
						"name": "2952790016",
						"type": "String"
					},
					{
						"name": "3221225472",
						"type": "String"
					},
					{
						"name": "3489660928",
						"type": "String"
					},
					{
						"name": "3758096384",
						"type": "String"
					},
					{
						"name": "4026531840",
						"type": "String"
					},
					{
						"name": "4294967296",
						"type": "String"
					},
					{
						"name": "8589934592",
						"type": "String"
					},
					{
						"name": "17179869184",
						"type": "String"
					},
					{
						"name": "34359738368",
						"type": "String"
					},
					{
						"name": "68719476736",
						"type": "String"
					},
					{
						"name": "137438953472",
						"type": "String"
					},
					{
						"name": "274877906944]",
						"type": "String"
					},
					{
						"name": "\"fileCounts\":[1",
						"type": "String"
					},
					{
						"name": "0124",
						"type": "String"
					},
					{
						"name": "0125",
						"type": "String"
					},
					{
						"name": "0126",
						"type": "String"
					},
					{
						"name": "0127",
						"type": "String"
					},
					{
						"name": "0128",
						"type": "String"
					},
					{
						"name": "0129",
						"type": "String"
					},
					{
						"name": "0130",
						"type": "String"
					},
					{
						"name": "0131",
						"type": "String"
					},
					{
						"name": "0132",
						"type": "String"
					},
					{
						"name": "0133",
						"type": "String"
					},
					{
						"name": "0134",
						"type": "String"
					},
					{
						"name": "0135",
						"type": "String"
					},
					{
						"name": "0136",
						"type": "String"
					},
					{
						"name": "0137",
						"type": "String"
					},
					{
						"name": "0138",
						"type": "String"
					},
					{
						"name": "0139",
						"type": "String"
					},
					{
						"name": "0140",
						"type": "String"
					},
					{
						"name": "0141",
						"type": "String"
					},
					{
						"name": "0142",
						"type": "String"
					},
					{
						"name": "0143",
						"type": "String"
					},
					{
						"name": "0144",
						"type": "String"
					},
					{
						"name": "0145",
						"type": "String"
					},
					{
						"name": "0146",
						"type": "String"
					},
					{
						"name": "0147",
						"type": "String"
					},
					{
						"name": "0148",
						"type": "String"
					},
					{
						"name": "0149",
						"type": "String"
					},
					{
						"name": "0150",
						"type": "String"
					},
					{
						"name": "0151",
						"type": "String"
					},
					{
						"name": "0152",
						"type": "String"
					},
					{
						"name": "0153",
						"type": "String"
					},
					{
						"name": "0154",
						"type": "String"
					},
					{
						"name": "0155",
						"type": "String"
					},
					{
						"name": "0156",
						"type": "String"
					},
					{
						"name": "0157",
						"type": "String"
					},
					{
						"name": "0158",
						"type": "String"
					},
					{
						"name": "0159",
						"type": "String"
					},
					{
						"name": "0160",
						"type": "String"
					},
					{
						"name": "0161",
						"type": "String"
					},
					{
						"name": "0162",
						"type": "String"
					},
					{
						"name": "0163",
						"type": "String"
					},
					{
						"name": "0164",
						"type": "String"
					},
					{
						"name": "0165",
						"type": "String"
					},
					{
						"name": "0166",
						"type": "String"
					},
					{
						"name": "0167",
						"type": "String"
					},
					{
						"name": "0168",
						"type": "String"
					},
					{
						"name": "0169",
						"type": "String"
					},
					{
						"name": "0170",
						"type": "String"
					},
					{
						"name": "0171",
						"type": "String"
					},
					{
						"name": "0172",
						"type": "String"
					},
					{
						"name": "0173",
						"type": "String"
					},
					{
						"name": "0174",
						"type": "String"
					},
					{
						"name": "0175",
						"type": "String"
					},
					{
						"name": "0176",
						"type": "String"
					},
					{
						"name": "0177",
						"type": "String"
					},
					{
						"name": "0178",
						"type": "String"
					},
					{
						"name": "0179",
						"type": "String"
					},
					{
						"name": "0180",
						"type": "String"
					},
					{
						"name": "0181",
						"type": "String"
					},
					{
						"name": "0182",
						"type": "String"
					},
					{
						"name": "0183",
						"type": "String"
					},
					{
						"name": "0184",
						"type": "String"
					},
					{
						"name": "0185",
						"type": "String"
					},
					{
						"name": "0186",
						"type": "String"
					},
					{
						"name": "0187",
						"type": "String"
					},
					{
						"name": "0188",
						"type": "String"
					},
					{
						"name": "0189",
						"type": "String"
					},
					{
						"name": "0190",
						"type": "String"
					},
					{
						"name": "0191",
						"type": "String"
					},
					{
						"name": "0192",
						"type": "String"
					},
					{
						"name": "0193",
						"type": "String"
					},
					{
						"name": "0194",
						"type": "String"
					},
					{
						"name": "0195",
						"type": "String"
					},
					{
						"name": "0196",
						"type": "String"
					},
					{
						"name": "0197",
						"type": "String"
					},
					{
						"name": "0198",
						"type": "String"
					},
					{
						"name": "0199",
						"type": "String"
					},
					{
						"name": "0200",
						"type": "String"
					},
					{
						"name": "0201",
						"type": "String"
					},
					{
						"name": "0202",
						"type": "String"
					},
					{
						"name": "0203",
						"type": "String"
					},
					{
						"name": "0204",
						"type": "String"
					},
					{
						"name": "0205",
						"type": "String"
					},
					{
						"name": "0206",
						"type": "String"
					},
					{
						"name": "0207",
						"type": "String"
					},
					{
						"name": "0208",
						"type": "String"
					},
					{
						"name": "0209",
						"type": "String"
					},
					{
						"name": "0210",
						"type": "String"
					},
					{
						"name": "0211",
						"type": "String"
					},
					{
						"name": "0212",
						"type": "String"
					},
					{
						"name": "0213",
						"type": "String"
					},
					{
						"name": "0214",
						"type": "String"
					},
					{
						"name": "0215",
						"type": "String"
					},
					{
						"name": "0216",
						"type": "String"
					},
					{
						"name": "0]",
						"type": "String"
					},
					{
						"name": "\"totalBytes\":[1957",
						"type": "String"
					},
					{
						"name": "0219",
						"type": "String"
					},
					{
						"name": "0220",
						"type": "String"
					},
					{
						"name": "0221",
						"type": "String"
					},
					{
						"name": "0222",
						"type": "String"
					},
					{
						"name": "0223",
						"type": "String"
					},
					{
						"name": "0224",
						"type": "String"
					},
					{
						"name": "0225",
						"type": "String"
					},
					{
						"name": "0226",
						"type": "String"
					},
					{
						"name": "0227",
						"type": "String"
					},
					{
						"name": "0228",
						"type": "String"
					},
					{
						"name": "0229",
						"type": "String"
					},
					{
						"name": "0230",
						"type": "String"
					},
					{
						"name": "0231",
						"type": "String"
					},
					{
						"name": "0232",
						"type": "String"
					},
					{
						"name": "0233",
						"type": "String"
					},
					{
						"name": "0234",
						"type": "String"
					},
					{
						"name": "0235",
						"type": "String"
					},
					{
						"name": "0236",
						"type": "String"
					},
					{
						"name": "0237",
						"type": "String"
					},
					{
						"name": "0238",
						"type": "String"
					},
					{
						"name": "0239",
						"type": "String"
					},
					{
						"name": "0240",
						"type": "String"
					},
					{
						"name": "0241",
						"type": "String"
					},
					{
						"name": "0242",
						"type": "String"
					},
					{
						"name": "0243",
						"type": "String"
					},
					{
						"name": "0244",
						"type": "String"
					},
					{
						"name": "0245",
						"type": "String"
					},
					{
						"name": "0246",
						"type": "String"
					},
					{
						"name": "0247",
						"type": "String"
					},
					{
						"name": "0248",
						"type": "String"
					},
					{
						"name": "0249",
						"type": "String"
					},
					{
						"name": "0250",
						"type": "String"
					},
					{
						"name": "0251",
						"type": "String"
					},
					{
						"name": "0252",
						"type": "String"
					},
					{
						"name": "0253",
						"type": "String"
					},
					{
						"name": "0254",
						"type": "String"
					},
					{
						"name": "0255",
						"type": "String"
					},
					{
						"name": "0256",
						"type": "String"
					},
					{
						"name": "0257",
						"type": "String"
					},
					{
						"name": "0258",
						"type": "String"
					},
					{
						"name": "0259",
						"type": "String"
					},
					{
						"name": "0260",
						"type": "String"
					},
					{
						"name": "0261",
						"type": "String"
					},
					{
						"name": "0262",
						"type": "String"
					},
					{
						"name": "0263",
						"type": "String"
					},
					{
						"name": "0264",
						"type": "String"
					},
					{
						"name": "0265",
						"type": "String"
					},
					{
						"name": "0266",
						"type": "String"
					},
					{
						"name": "0267",
						"type": "String"
					},
					{
						"name": "0268",
						"type": "String"
					},
					{
						"name": "0269",
						"type": "String"
					},
					{
						"name": "0270",
						"type": "String"
					},
					{
						"name": "0271",
						"type": "String"
					},
					{
						"name": "0272",
						"type": "String"
					},
					{
						"name": "0273",
						"type": "String"
					},
					{
						"name": "0274",
						"type": "String"
					},
					{
						"name": "0275",
						"type": "String"
					},
					{
						"name": "0276",
						"type": "String"
					},
					{
						"name": "0277",
						"type": "String"
					},
					{
						"name": "0278",
						"type": "String"
					},
					{
						"name": "0279",
						"type": "String"
					},
					{
						"name": "0280",
						"type": "String"
					},
					{
						"name": "0281",
						"type": "String"
					},
					{
						"name": "0282",
						"type": "String"
					},
					{
						"name": "0283",
						"type": "String"
					},
					{
						"name": "0284",
						"type": "String"
					},
					{
						"name": "0285",
						"type": "String"
					},
					{
						"name": "0286",
						"type": "String"
					},
					{
						"name": "0287",
						"type": "String"
					},
					{
						"name": "0288",
						"type": "String"
					},
					{
						"name": "0289",
						"type": "String"
					},
					{
						"name": "0290",
						"type": "String"
					},
					{
						"name": "0291",
						"type": "String"
					},
					{
						"name": "0292",
						"type": "String"
					},
					{
						"name": "0293",
						"type": "String"
					},
					{
						"name": "0294",
						"type": "String"
					},
					{
						"name": "0295",
						"type": "String"
					},
					{
						"name": "0296",
						"type": "String"
					},
					{
						"name": "0297",
						"type": "String"
					},
					{
						"name": "0298",
						"type": "String"
					},
					{
						"name": "0299",
						"type": "String"
					},
					{
						"name": "0300",
						"type": "String"
					},
					{
						"name": "0301",
						"type": "String"
					},
					{
						"name": "0302",
						"type": "String"
					},
					{
						"name": "0303",
						"type": "String"
					},
					{
						"name": "0304",
						"type": "String"
					},
					{
						"name": "0305",
						"type": "String"
					},
					{
						"name": "0306",
						"type": "String"
					},
					{
						"name": "0307",
						"type": "String"
					},
					{
						"name": "0308",
						"type": "String"
					},
					{
						"name": "0309",
						"type": "String"
					},
					{
						"name": "0310",
						"type": "String"
					},
					{
						"name": "0311",
						"type": "String"
					},
					{
						"name": "0]}",
						"type": "String"
					},
					{
						"name": "\"allFiles\":[{\"path\":\"part-00000-db094c3b-bf89-4608-a41f-3fd54581b0aa.c000.snappy.parquet\"",
						"type": "String"
					},
					{
						"name": "\"partitionValues\":{}",
						"type": "String"
					},
					{
						"name": "\"size\":1957",
						"type": "String"
					},
					{
						"name": "\"modificationTime\":1710772862000",
						"type": "String"
					},
					{
						"name": "\"dataChange\":false",
						"type": "String"
					},
					{
						"name": "\"stats\":\"{\\\"numRecords\\\":109",
						"type": "String"
					},
					{
						"name": "\\\"minValues\\\":{\\\"CountryRegionCode\\\":\\\"AE\\\"",
						"type": "String"
					},
					{
						"name": "\\\"CurrencyCode\\\":\\\"AED\\\"",
						"type": "String"
					},
					{
						"name": "\\\"ModifiedDate\\\":\\\"2008-04-30\\\"}",
						"type": "String"
					},
					{
						"name": "\\\"maxValues\\\":{\\\"CountryRegionCode\\\":\\\"ZW\\\"",
						"type": "String"
					},
					{
						"name": "\\\"CurrencyCode\\\":\\\"ZWD\\\"",
						"type": "String"
					},
					{
						"name": "\\\"ModifiedDate\\\":\\\"2014-02-08\\\"}",
						"type": "String"
					},
					{
						"name": "\\\"nullCount\\\":{\\\"CountryRegionCode\\\":0",
						"type": "String"
					},
					{
						"name": "\\\"CurrencyCode\\\":0",
						"type": "String"
					},
					{
						"name": "\\\"ModifiedDate\\\":0}}\"",
						"type": "String"
					},
					{
						"name": "\"tags\":{\"INSERTION_TIME\":\"1710772862000000\"",
						"type": "String"
					},
					{
						"name": "\"MIN_INSERTION_TIME\":\"1710772862000000\"",
						"type": "String"
					},
					{
						"name": "\"MAX_INSERTION_TIME\":\"1710772862000000\"",
						"type": "String"
					},
					{
						"name": "\"OPTIMIZE_TARGET_SIZE\":\"268435456\"}}]}",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sourcedatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copyalltablesdataincsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@{concat(dataset().tablename, '.csv')}",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@{concat(dataset().schemaname, '/', dataset().tablename)}",
							"type": "Expression"
						},
						"fileSystem": "bronz"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/customercsv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/customerparquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/destdatasetfriends')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "targetdatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/targetdatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourcedatasetfriends')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sourcedatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Sheet1",
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "friends_data.xlsx",
						"fileSystem": "source"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "FIRST_NAME",
						"type": "String"
					},
					{
						"name": "LAST_NAME",
						"type": "String"
					},
					{
						"name": "AGE",
						"type": "String"
					},
					{
						"name": "GENDER",
						"type": "String"
					},
					{
						"name": "SALARY",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sourcedatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/targetdatafriends')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "targetdatafriends",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "destination"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/targetdatafriends')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServer_connectionString')]",
					"userName": "[parameters('SqlServer_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopyPipeline_b31')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_b31",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "//"
							},
							{
								"name": "Destination",
								"value": "destination//"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"skipLineCount": 0
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SourceDataset_b31",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DestinationDataset_b31",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-18T20:52:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SourceDataset_b31')]",
				"[concat(variables('factoryId'), '/datasets/DestinationDataset_b31')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/copy data - friedns')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data - friends data from scratch",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sourcedatasetfriends",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "destdatasetfriends",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-03-18T20:49:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sourcedatasetfriends')]",
				"[concat(variables('factoryId'), '/datasets/destdatasetfriends')]"
			]
		}
	]
}